<%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
<!--Save article--> 
  <p>
    <%= form.submit :"Guardar Comentario" %>
  </p>
<% end %>
